bin/
build/bin/
build/Output/
build/windows/installer/inno_output/
build/darwin/desktop.ini
node_modules/
frontend/dist/*
!frontend/dist/.gitkeep
frontend/node_modules/
frontend/tsconfig.tsbuildinfo
.idea/
.vscode/
.DS_Store
*.log
*.exe
*.dmg
*.app
.env
.env.local
coverage/
*.out
